.timeline-item {
  background-color: #f4f4f4;
  color: #777;
  padding: 15px;
  margin: 40px 20px;
  width: 300px;
  position: relative;
  border-radius: 4px;
  box-sizing: border-box;

  .date {
    position: absolute;
    color: #ccc;
    font-size: 12px;
    top: calc(50% - 12px);
    background-color: #343a40;
    padding: 5px 8px;
    border-radius: 3px;
    display: table;
  }

  &:before {
    content: "";
    position: absolute;
    top: calc(50% - 15px);
    left: -60px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #20B194;
    border: 2px solid #89DBD3;
    box-shadow: 0 4px 20px -4px rgba(64, 64, 64, 0.8);
  }
  &:nth-child(odd) {
    margin-left: calc(50% + 45px);
    .date {
      left: calc(-100% + 120px);
    }
  }
  &:nth-child(even) {
    margin-left: calc(50% - 346px);
    &:before {
      left: calc(100% + 30px);
    }
    .date {
      left: calc(100% + 90px);
    }
  }
}
