.timeline {
  z-index: 1;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    height: calc(100% - 80px);
    width: 5px;
    background-color: #f2f2f2;
    left: 50%;
    margin-top: 40px;
  }
}
