@mixin nth-children($points...) {
  @each $point in $points {
      &:nth-child(#{$point}) {
          @content;
      }
  }
}

.text-input__loading {
  height: 214px;
  // border: 1px solid lightgrey;
  border-radius: 4px;
  width: 100%;

  &--line {
      height: 10px;
      margin: 15px 10px;
      animation: pulse 1s infinite ease-in-out;
  }

  div {
      @include nth-children(1, 5, 9) {
          width: calc(100% - 70px);
      }
      @include nth-children(2, 6, 10) {
          width: calc(100% - 100px);
      }
      @include nth-children(3, 7) {
          width: calc(100% - 90px);
      }
      @include nth-children(4, 8) {
          width: 85%;
      }
  }
}

@keyframes pulse {
  0% {
      background-color: rgba(165, 165, 165, 0.1)
  }
  50% {
      background-color: rgba(165, 165, 165, 0.3)
  }
  100% {
      background-color: rgba(165, 165, 165, 0.1)
  }
}
